.forgot_password_body {
    padding: 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 40px;
}
.password_reset_p {
    font-size: 30px;
}
.forgot_password_inputs {
    width: fit-content;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 15px;
}
.reset_password_btn {
    padding: 10px 20px;
    margin: 10px 0;
    text-align: center;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
}
.reset_password_btn:hover {
    background-color: white;
    color: green;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid green;
}
.reset_password_btn_disabled {
    padding: 10px 20px;
    margin: 10px 0;
    text-align: center;
    background-color: white;
    color: black;
    border: 1px dashed black;
    border-radius: 15px;
    font-size: 20px;
}
.reset_password_bottom_a {
    text-align: center;
    cursor: pointer;
    color: blue;
    text-decoration: none;
}