<form class="forgot_password_body" [formGroup]="forgotPassForm" >
    <p class="password_reset_p">PASSWORD RESET</p>
    <input class="forgot_password_inputs" type="text" placeholder="Write your username" formControlName="username">
            <div *ngIf="forgotPassForm.get('username')?.touched && forgotPassForm.get('username')?.invalid">
            <small *ngIf="forgotPassForm.get('username')?.errors?.['required']" style="color: red;">* Username is required</small>
            <small *ngIf="forgotPassForm.get('username')?.errors?.['minlength']" style="color: red;">* At least 3 characters</small>
        </div>

    <input class="forgot_password_inputs" type="text" placeholder="New password" formControlName="newPassword">
            <div *ngIf="forgotPassForm.get('newPassword')?.touched && forgotPassForm.get('newPassword')?.invalid">
            <small *ngIf="forgotPassForm.get('newPassword')?.errors?.['required']" style="color: red;"> * Password is required </small>
            <small *ngIf="forgotPassForm.get('newPassword')?.errors?.['minlength']" style="color: red;">* At least 6 characters</small>
        </div>

    <input class="forgot_password_inputs" type="text" placeholder="Repeat the new password" formControlName="repeatNewPassword">
        <div *ngIf="forgotPassForm.get('repeatNewPassword')?.touched && forgotPassForm.get('repeatNewPassword')?.invalid">
            <small *ngIf="forgotPassForm.get('repeatNewPassword')?.errors?.['required']" style="color: red;"> * Passwords must be the same </small>
        </div>
    <button (click)="resetPasswordOk()" [ngClass]="forgotPassForm.valid && forgotPassForm.get('newPassword')?.value == forgotPassForm.get('repeatNewPassword')?.value ? 'reset_password_btn' : 'reset_password_btn_disabled'">Reset password</button>
</form>