<div class="register_body_all">
    <div class="reg_log_text">Registration & Login</div>
    <div class="log_reg_btns_div">
        <div class="log_up_btn log_reg_up_btns" (click)="goToLoginPage()">Login</div>
        <div class="reg_up_btn log_reg_up_btns" (click)="goToRegisterPage()">Register</div>
    </div>
    <div class="reg_text">Register</div>
    <form class="register_form" action="">
        <input class="reg_form_input" type="text" placeholder="Username">
        <input class="reg_form_input" type="text" placeholder="Password">
        <input class="reg_form_input" type="text" placeholder="Repeat the Password">
        <div class="registr_btn" (click)="goToLoginPage()">Register</div>
    </form>
</div>