<div class="login_body_all" #login_body_all>
    <div class="reg_log_text">Registration & Login</div>
    <div class="log_reg_btns_div">
        <div class="log_up_btn log_reg_up_btns" (click)="goToLoginPage()">Login</div>
        <div class="reg_up_btn log_reg_up_btns" (click)="goToRegisterPage()">Register</div>
    </div>
    <div class="log_text">Login</div>
    <form class="login_form" [formGroup]="loginForm">
        <input formControlName="username" class="log_form_input" type="text" placeholder="Username">
        <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
            <small *ngIf="loginForm.get('username')?.errors?.['required']" style="color: red;">* Username is required</small>
            <small *ngIf="loginForm.get('username')?.errors?.['minlength']" style="color: red;">* At least 3 characters</small>
        </div>

        <input formControlName="password" class="log_form_input" type="text" placeholder="Password">
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            <small *ngIf="loginForm.get('password')?.errors?.['required']" style="color: red;"> * Password is required </small>
            <small *ngIf="loginForm.get('password')?.errors?.['minlength']" style="color: red;">* At least 6 characters</small>
        </div>
        <button [ngClass]="loginForm.valid ? 'login_btn' : 'login_btn_disabled'" (click)="loginBtnClick()"  [disabled]="loginForm.invalid">Login</button>
        <a class="forgot_pass_p" (click)="OpenForgotPasswordPage()">Forgot password ?</a>
    </form>

</div>

 <div #registered_user_page class="registered_user_page">
   
    </div>