<div class="login_body_all">
    <div class="reg_log_text">Registration & Login</div>
    <div class="log_reg_btns_div">
        <div class="log_up_btn log_reg_up_btns" (click)="goToLoginPage()">Login</div>
        <div class="reg_up_btn log_reg_up_btns" (click)="goToRegisterPage()">Register</div>
    </div>
    <div class="log_text">Login</div>
    <form class="login_form" action="">
        <input class="log_form_input" type="text" placeholder="Username">
        <input class="log_form_input" type="text" placeholder="Password">
        <div class="login_btn">Login</div>
    </form>
</div>